.navigation {

	&__icon {
		display: block;
		text-align: center;
		margin: 0.875rem 0 1rem 2rem;

		&--link {
			&:link,
			&:visited {
				color: $color-dark;
				text-decoration: none;
			}

			&:hover,
			&:active {
				color: $color-dark;
				text-decoration: none;
			}
		}

		&--text {
			color: $color-light;
			font-size: $font-size-sm;
			margin: -0.5rem 0 0 0;
			letter-spacing: 1px;
		}
	}

	&__logo {

		&--main {
			width: auto;
			height: 80px;
		}
	}
	
	&__text {
		text-transform: uppercase;
		color: $color-dark;
		font-weight: $font-weight-bold;
		letter-spacing: 1px;

		&:not(:last-child) {
			margin-right: 3.1rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $color-dark;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
		}

		&:hover,
		&:active {
			color: $color-dark;
		}
	}

	&__svg {
		width: 0.825rem;
		height: 0.825rem;
	}
}