.quick-search {
	background-color: $color-light;
	width: 100%;
	height: 3.8125rem;
	box-shadow: 0px 1px 1px $color-ultra-light;
	vertical-align: top;
	display: inline-block;

	&__list {
		margin-left: 4rem;
		display: inline-block;

		@include respond(medium) {
			margin-left: 0;
		}

		@include respond(small) {
			display: flex;
			align-items: right;
		}

		@include respond(xtra-small) {
			display: none;
		}
	}

	&__text {
		text-transform: uppercase;
		color: $color-white;
		font-weight: $font-weight-bold;
		letter-spacing: 1.5px;
		margin-right: 4rem;
		display: inline-block;

		&:link,
		&:visited {
			color: $color-white;
		}

		&:hover,
		&:active {
			color: $color-white;
		}

		@include respond(medium) {
			margin-right: 2rem;
		}

		@include respond(small) {
			margin-right: 0.875rem;
			letter-spacing: 0.5px;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
		}

		&:hover,
		&:active {
			color: $color-white;
		}
	}

	&__form {
		vertical-align: top;
		display: inline-block;
	}

	&__btn {
		font-weight: $font-weight-bold;
		color: $color-white;
		background-color: $color-accent-1;
		width: 10.375rem;
		height: 2.56rem;
		display: inline-block;

		@include respond(medium) {
			width: 8.25rem;
		}

		@include respond(small) {
			width: 6rem;
		}

		@include respond(xtra-small) {
			width: 5rem;
			text-indent: -9999px;                 /* sends the text off-screen */
			background-image: url(assets/SVGs/search.svg);  /* shows image */
			background-repeat: no-repeat;
			background-position: center; 



		}	
	}

	&__search {
		width: 16.5rem;
		height: 2.56rem;
		margin-right: 2rem;
		display: inline-block;

		@include respond(medium) {
			margin-right: 1rem;
		}

		&::placeholder {
			font-size: 0.875rem;
		}

		@include respond(medium) {
			width: 13.31rem;
		}

		@include respond(xtra-small) {
			width: 13.125rem;
			margin-right: -3px;
		}	}
}