/*=============================================>>>>>
	MIXINS used for clearing and centering 
===============================================>>>>>*/
/*=============================================>>>>>
					FONTS
===============================================>>>>>*/
/*=============================================>>>>>
					COLORS
===============================================>>>>>*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*browsers default to 16px as font size... // 1rem is 10px; 10px/16px = 62.5%. this makes initial font size 10px instead --- makes using rem easier*/ }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #323232; }

.utl-center-text {
  text-align: center; }
