/*=============================================>>>>>
					VARIABLES
===============================================>>>>>*/
//FONTS
$font-family-sans-serif: "lato", sans-serif;

//COLORS
$color-dark: #323232;
$color-medium: #595959;
$color-light: #aaaaaa;
$color-ultra-light: #eeeeee;
$color-accent-1: #237377;