/*=============================================>>>>>
					VARIABLES
===============================================>>>>>*/
//FONTS
$font-family-sans-serif: "lato", sans-serif;
$font-size-sm: 0.75rem;

//COLORS
$color-dark: #323232;
$color-medium: #595959;
$color-light: #aaaaaa;
$color-ultra-light: #eeeeee;
$color-white: #fffefe;
$color-accent-1: #237377;
$color-accent-2: #2399a6;
